<mat-toolbar class="search-toolbar flex flex-col sm:flex-row items-stretch sm:items-center gap-3 sm:gap-4 px-3 sm:px-6 py-3">
    <!-- Spacer -->
    <div class="flex-1"></div>

    <!-- Search and Actions -->
    <div class="flex flex-col sm:flex-row items-stretch sm:items-center gap-3 sm:gap-4 w-full sm:w-auto">
        <!-- Search Field -->
        <mat-form-field class="search-field flex-1 sm:flex-initial sm:min-w-80" appearance="outline" [subscriptSizing]="'dynamic'">
            <mat-icon matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
            <input
                matInput
                [formControl]="searchControl"
                [placeholder]="placeholder"
                class="search-input"
            >
            @if (searchControl.value) {
                <button
                    matSuffix
                    mat-icon-button
                    (click)="clearSearch()"
                    class="search-clear-button"
                >
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            }
        </mat-form-field>

        <!-- New Post Button -->
        <button
            mat-flat-button
            [color]="'primary'"
            [routerLink]="['/blog/new']"
            class="new-post-button w-full sm:w-auto">
            <mat-icon class="mr-2">add</mat-icon>
            <span class="sm:inline">New Post</span>
        </button>
    </div>
</mat-toolbar>